<div class="return-top js-return-top">
    返回顶部
</div>

<script>
    (function(){
        var $winH = $(window).height()
        var $btn = $('.js-return-top')
        $btn.click(function(){
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            })
        })

        $(window).on('scroll', function(){
            if (overScreen() && !$btn.hasClass('return-top--show')) {
                $btn.addClass('return-top--show')
            } else if (!overScreen() && $btn.hasClass('return-top--show')) {
                $btn.removeClass('return-top--show')
            }
        })

        function overScreen() {
            return $(window).scrollTop() > $winH
        }
    })()
</script>