h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, table,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

.copyright--cc {
  border-top: 1px solid #EEE;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #999;
  font-size: 14px;

  a {
    color: inherit;
  }
}

td, th {
  padding: 4px 10px;
  border: 1px solid #CCC;
}

th {
  background: #DDD;
}

#markdown-toc {
  line-height: 1.6;
  list-style-type: none;
  padding: 10px 20px;
  background: #EEE;
  max-width: 500px;

  ul {
    line-height: 1.2;
    list-style-type: disc;
  }
}