.return-top {
    position: fixed;
    right: 1em;
    bottom: 4em;
    padding: 10px;
    border-radius: 4px;
    background: $brand-color;
    color: white;
    display: none;
    opacity: 0;
    transition: all 1s;
}


.return-top--show {
    display: block;
    opacity: 1;
}