.return-top {
    position: fixed;
    right: 8px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.2s linear 0s, visibility, bottom .4s ease-in-out;
    z-index: 1000;

    .icon-up {
        width: 42px;
        height: 42px;
        background: url(/imgs/up-arrow.svg);
        background-size: cover;
    }
}


.return-top--show {
    opacity: 1;
    bottom: 60px;
}