$spacing-unit:     30px !default;
$brand-color: #563d7c;
$brand-color-light: lighten($brand-color, 40%);

body {
    background: white;
}

.container {
    background: white;
}

.main-content {
    h1 { 
        font-size: 2em; 
        font-weight: 600;
        color: $brand-color;
    }
    h2 { 
        font-size: 1.5em; 
        border-bottom: 1px solid #eaecef;
        padding-bottom: 0.3em;
        font-weight: 600;
    }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1.2em; }
    h5 { font-size: 1.15em; }
    h6 { font-size: 1.1em; }

    blockquote {
        border-left: 5px solid #CCC;
        padding-left: 10px;
        color: #999;
    }

    p {
        font-weight: 300;
    }

    ul {
        font-weight: 300;
        line-height: 2;
        font-size: 16px;
        color: $brand-color;
    }

    .posts {
        a,
        a:hover {
            color: $brand-color;
        }
    }
    
    .date {
        color: $brand-color-light;
    }
}

.main-footer {
    background: $brand-color;
    color: white;
    .copyright {
        text-align: center;
        color: $brand-color-light;
        font-size: 12px;
        font-weight: 200;
    }
}

.bg-purple {
    background: $brand-color;
}

.meta {
    color: #666;
    font-size: 0.8em;
}

@import 
    "base",
    "syntax-highlighting"
;