$spacing-unit:     30px !default;
$brand-color: #563d7c;
$brand-color-light: lighten($brand-color, 40%);
$font-stack: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;

.gray {
    filter: grayscale(100%);
}

body {
    background: white;
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background: white;
    flex: 1;
}

.main-content {
    .book-cover {
        width: 200px;
    }

    h1 { 
        font-size: 2em; 
        font-weight: 600;
        color: $brand-color;
    }
    h2 { 
        font-size: 1.5em; 
        border-bottom: 1px solid #eaecef;
        padding-bottom: 0.3em;
        font-weight: 600;
    }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1.2em; }
    h5 { font-size: 1.15em; }
    h6 { font-size: 1.1em; }

    blockquote {
        border-left: 5px solid #CCC;
        padding-left: 10px;
        color: #999;
    }

    p {
        font-weight: 400;
    }

    strong {
        font-weight: 600;
    }

    ul {
        font-weight: 400;
        line-height: 2;
        font-size: 16px;
        color: $brand-color;
    }

    .posts {
        a,
        a:hover {
            color: $brand-color;
        }
    }
    
    .date {
        color: $brand-color-light;
        font-size: 14px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 540px;
        display: block;
        margin: 0 auto;
    }

    figcaption {
        text-align: center;
        color: #999;
        font-size: 0.8em;
        line-height: 2.6em;
        font-weight: 200;
    }
}

.main-footer {
    flex: 0;
    background: $brand-color;
    color: white;
    .copyright {
        text-align: center;
        color: $brand-color-light;
        font-size: 12px;
        font-weight: 200;
    }
}

.bg-purple {
    background: $brand-color;
}

.meta {
    color: #666;
    font-size: 0.8em;
}

@import 
    "base",
    "syntax-highlighting",
    "return-top"
;
